@import "./__form/login-modal__form";
@import "./__close-btn/login-modal__close-btn";
@import "./__label/login-modal__label";
@import "./__input/login-modal__input";
@import "./__input-container/login-modal__input-container";
@import "./__submit-btn/login-modal__submit-btn";
@import "./_active/login-modal_active";

.login-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: -100;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
