@import "../../../variables.scss";

.header__login-link {
  font-size: 22px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-family: $header-font;
}
