.auth-modal__close-btn {
  position: absolute;
  inset-inline-end: 30px;
  inset-block-start: 30px;
  border: none;
  inline-size: 30px;
  block-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: transparent;
  cursor: pointer;
}
