@import "../../../variables.scss";

.header__homepage-link {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  font-size: 35px;
  color: $accent-color-1;
  transition: color 0.3s ease;
}

.header__homepage-link:hover {
  color: $main-color;
  transition: color 0.3s ease;
}
