@import "../../../../variables.scss";

.auth-modal__submit-btn.auth-modal__submit-btn_disabled {
  pointer-events: none;
  background-color: $disabled-btn-bg-color;
  color: $disabled-btn-text-color;
  border: solid 1px $disabled-btn-border-color;
}
