// colors
$accent-color-1: #00473c;
$accent-color-2: #5e81f4;
$accent-color-2-light: #8ba7ff;
$main-color: #000;
$main-color-light: #fff;
$body-color: #f4f3e7;
$disabled-btn-bg-color: #fff;
$disabled-btn-text-color: #c4c4c4;
$disabled-btn-border-color: #c4c4c4;
$error-color: #ff0000;

$header-font: "Crimson Pro", serif;
