@import "./__login-link/header__login-link";
@import "./__homepage-link/header__homepage-link";
@import "./__buttons-container/header__buttons-container.scss";

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
